<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Acasă</title>
</head>
<body>
<h1>Acasă</h1>

{% if request.user.is_authenticated %}
    <p>Sunteti autentificat {{ request.user.username}}!</p>
    {% if request.user.role != 'CONTABIL' %}
        <a href="{% url 'items:list' %}"><button type="button">Lista</button></a>
    {% endif %}
    <a href="{% url 'logout' %}"><button type="button">Logout</button></a>
    {%  else %}
        <a href="{% url 'login' %}"><button type="button">Autentificare</button></a>
        <a href="{% url 'signup' %}"><button type="button">Înregistrare</button></a>
{%  endif %}

</body>
</html>