<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<h1>Login</h1>
{% if messages %}
      {% for message in messages %}
                <p>{{ message }}</p>
      {% endfor %}
{% endif %}
<form method="POST">
    {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" required><br><br>
        <label>Parola:</label>
        <input type="password" name="password" required><br>
        <a href="{% url 'password_reset' %}">Am uitat parola</a><br><br>
        <button type="submit">Login</button>
</form>
</body>
</html>