<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Înregistrare</title>
</head>
<body>
<h1>Înregistrare</h1>
<form method="post">
    {% csrf_token %}
    <p>
        {{ form.full_name.label_tag }}<br>
        {{ form.full_name }}
    </p>
     <p>
        {{ form.username.label_tag }}<br>
        {{ form.username }}
    </p>
     <p>
        {{ form.email.label_tag }}<br>
        {{ form.email }}
    </p>
    <p>
        {{ form.assigned_church.label_tag }}<br>
        {{ form.assigned_church }}
    </p>
     <p>
        {{ form.password1.label_tag }}<br>
        {{ form.password1 }}
    </p>
    <p>
        {{ form.password2.label_tag }}<br>
        {{ form.password2 }}
    </p>
    <button type="submit">Înregistrare</button>
</form>
</body>
</html>